{% extends 'baseBack.html.twig' %}
{% block body %}

    <div class="container mt -4">
        <h3>Envoyer un mail au client</h3>
        <br>
        {{ form(MailObjectifForm) }}
    </div>
{% endblock %}