{% extends 'base.html.twig' %}

{% block title %}{<h1>Niveau</h1>}{% endblock %}

{% block body %}
 <h1>{{ niveau.titre }}</h1>
     <td>{{ niveau.id }}</td>
 

 <hr>
 <a href="/niveau/home/">Retour</a>
{% endblock %}